*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}
body{
	background-color: #6179D3;
}
input#name{
	margin-top: 150px;
	width: 250px;
}
input{
	margin: 30px auto;
	display: block;
	border: 2px solid #082765;
	width: 100px;
	color: #293E68;
	font-size: 20px;
	height: 35px;
}
::placeholder {
	font-size: 18px;
	padding-left: 5px;
	color: #4B5A77;
}
input[type=submit]{
	font-weight: 700;
}