*{
	margin: 0;
	padding: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
}
body{
	background-color: #6179D3;
}


input#name{
	margin: 20px 30px;
	position: absolute;
	width: 250px;
	display: block;
	border: 2px solid #082765;
	color: #293E68;
	font-size: 20px;
	height: 35px;
}
::-webkit-input-placeholder {
	font-size: 18px;
	padding-left: 5px;
	color: #4B5A77;
}
:-ms-input-placeholder {
	font-size: 18px;
	padding-left: 5px;
	color: #4B5A77;
}
::-ms-input-placeholder {
	font-size: 18px;
	padding-left: 5px;
	color: #4B5A77;
}
::placeholder {
	font-size: 18px;
	padding-left: 5px;
	color: #4B5A77;
}

.table_box{
	background-color: #7281B8;
	border: 2px solid #0F2D49;
	margin: 30px 450px;
	padding: 20px;
}

.columns{
	display: flex;
}

.columns p{
	width: 50%;
}